<h1>{{ board.title }}</h1>

<div>
    {{ board.content }}
</div>


<div>
    <ul>
    {% for answer in board.answer_set.all %}
        <li>{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'board:create_comment' board.board_id%}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="10"></textarea><br>
    <input type="text", id="user_name" name="user_name"><br>
    <input type="submit" value="답글등록">
</form>

<h3>댓글</h3>
<div>
    <ul>
    {% for comm in comment %}
        <li>{{ comm.content }}</li>
        <li>{{ comm.user_id }}</li>
    {% endfor %}
    </ul>
</div>